.board{
    box-sizing: border-box;
    background-color: #15171b;
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

.post{
    box-sizing: border-box;
    color: white;
    margin: 30px auto;
    max-width: 500px;
    border-radius: 6px;
    background-color: rgb(177, 177, 177);
    padding-bottom: 8px;
}
.post-header{
    display: flex;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.801) 0 1px 10px;
}
.post-header img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.post-header h2{
    cursor: pointer;
    margin-left: 12px;
    margin-top: 0;
}

.post-body h3{
    margin: 10px auto;
    width: 98%;
    background-color: rgb(92, 92, 92);
    border-radius: 6px;
    box-sizing: border-box;
    padding: 8px;
}
.post-body p{
    width: 98%;

    box-sizing: border-box;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 8px;
    height: 80px;
    align-content: center;

    background-color: rgb(92, 92, 92);
    border-radius: 6px;
    margin: auto;
}